<div id="panel-left" class="split split-horizontal sidebar file-tree" data-bind="with: fileBrowserViewModel">
    <header>
        <h1>File List</h1>
        <div class="actions">
            <div class="icon-folder-add" data-bind="click: handleClickAddFolder"></div>
        </div>
    </header>

    <div class="inactive-panel" data-bind="visible: fileTrees().length == 0">
        <button data-bind="click: handleClickAddFolder">Open a Folder</button>
    </div>

    <partial src="left/_file-tree.html"></partial>
    <!-- ko foreach: fileTrees -->
    <div class="section-header">
        <div class="actions">
            <div class="icon-chevron" data-bind="css: {expanded: isExpanded, collapsed: !isExpanded()}, click: handleChevronClick"></div>
        </div>
        <h2 data-bind="text: displayName"></h2>
        <div class="actions">
            <div class="icon-folder-close" data-bind="click: $parent.handleClickCloseFolder"></div>
        </div>
    </div>
    <div class="section" data-bind="template: {name: 'file-tree-section', data: $data}, css: {expanded: isExpanded, collapsed: !isExpanded()}"></div>
    <!-- /ko -->
</div>