/*
 * Color definitions to use across the application
 * These colors are based on the VSCode dark theme see:
 * https://github.com/Microsoft/vscode/blob/master/src/vs/workbench/common/theme.ts
 */
$color-toolbar-background: #3c3c3c;
$color-toolbar-foreground-active: #ffffff;
$color-toolbar-foreground-inactive: #adadad;

$color-sidebar-background: #333333;
$color-sidebar-foreground: #fffffe;
$color-sidebar-section-header-background: #303030;

$color-content-background: #212121;
$color-content-foreground: #ffffff;

