@import "colors";
@import "mixins";

/* FILE TREE =============================================================== */
$tree-indent-width: 16px;

.file-tree {
  /* SECTIONS -------------------------------------------------------------- */
  & .section-header {
    display: flex;
    line-height: 22px;

    background-color: $color-sidebar-section-header-background;
  }

  & .section {
    @include collapsible;

    & .section {
      padding-left: $tree-indent-width;
    }
  }

  & .section-line-item {
    display: flex;
    line-height: 22px;

    &.indented {
      padding-left: $tree-indent-width;
    }

    &:hover {
      background-color: $color-toolbar-background;
    }

    &.selected {
      background-color: $color-sidebar-background-selected;
    }
  }
}