/*
 * PANELS ==================================================================
 */
@import '_colors.scss';

/* CONSTANTS =============================================================== */
$toolbar-width: 50px;

/* PANELS ================================================================== */
body {
    display: flex;
    flex-direction: row;
}

#panel-center {
    background-color: $color-content-background;
    color: $color-content-foreground;
}

%panel-child {
    padding-left: 16px;
    padding-right: 10px;
}

%panel-header {
    margin: 0;
    font-size: inherit;
}

#panel-left, #panel-right {
    background-color: $color-sidebar-background;
    color: $color-sidebar-foreground;

    font-size: 12px;

    /* HEADERS ============================================================= */
    & h1 {
        @extend  %panel-header;
        font-weight: normal;
        text-transform: uppercase;
    }

    & h2 {
        @extend %panel-header;
        font-weight: bold;
        text-transform: uppercase;
    }

    & h3 {
        @extend %panel-header;
        font-weight: normal;
    }

    /* SECTIONS ============================================================ */
    & header {
        @extend %panel-child;
        display: flex;
        line-height: 35px;

        & .actions {
            display: flex;
            flex-direction: row;
            justify-content: flex-end;
            flex: 1;

            & > div {
                height: inherit;
                width: 16px;

                background-color: $color-toolbar-foreground-inactive;

                &:hover {
                    background-color: $color-toolbar-foreground-active;
                    cursor: pointer;
                }
            }
        }
    }

    $section-line-height: 22px;

    & .section-header {
        @extend %panel-child;
        display: flex;
        padding-left: 0;
        line-height: $section-line-height;
        background-color: $color-toolbar-background;
    }

    & .section-indented {
        @extend %panel-child;
        line-height: $section-line-height;

        & .header {
            display: flex;
        }

        &.collapsed { display: none; }
    }

    /* MSC ================================================================= */
    & .chevron {
        width: 16px;
        background-color: $color-toolbar-foreground-active;
        cursor: pointer;

        &.collapsed {
            -webkit-mask: url("../../../resources/ic_expand_more_18px.svg") no-repeat 50% 50%;
            -webkit-mask-size: 16px;
        }

        &.expanded {
            -webkit-mask: url("../../../resources/ic_expand_less_18px.svg") no-repeat 50% 50%;
            -webkit-mask-size: 16px;
        }
    }
}

/* TOOLBAR ================================================================= */
#toolbar {
    height: 100%;
    width: $toolbar-width;

    background-color: $color-toolbar-background;

    & .item {
        height: 50px;
        width: 50px;
        text-align: center;
        vertical-align: center;

        background-color: $color-toolbar-foreground-inactive;

        &:hover, &.active {
            background-color: $color-toolbar-foreground-active;
        }

        &:hover {
            cursor: pointer;
        }
    }
}

#toolbar-item-settings {
    -webkit-mask: url("../../../resources/ic_settings_24px.svg") no-repeat 50% 50%;
    -webkit-mask-size: 22px;
}
