/**
 * SPLIT.JS FUNCTIONALITY ==================================================
 */
html {
    height: 100%;
}
body {
    height: 100%;
    margin: 0;
    padding: 0;
}
.split {
    box-sizing: border-box;
    overflow-y: auto;
    overflow-x: hidden
}
.gutter.gutter-horizontal {
    margin-left: -5px;
    cursor: w-resize;
    z-index: 900000;
}
.gutter.gutter-vertical {
    cursor: n-resize;
    z-index: 900000;
}
.split.split-horizontal, .gutter.gutter-horizontal {
    height: 100%;
}

