
@import '_center-panels.scss';
@import '_split.scss';
@import '_panels.scss';
@import '_file-tree.scss';

html {
  font-family: -apple-system, BlinkMacSystemFont, "Segoe WPC", "Segoe UI", "HelveticaNeue-Light", "Ubuntu", "Droid Sans", sans-serif;
}

body {
  display: flex;
  flex-direction: row;
}