
/**
 * SPLIT.JS FUNCTIONALITY ==================================================
 */
html {
    height: 100%;
}
body {
    height: 100%;
}
.split {
    box-sizing: border-box;
    overflow-y: auto;
    overflow-x: hidden
}
.gutter {
    background: #eee no-repeat 50%;
}
.gutter.gutter-horizontal {
    cursor: col-resize;
    background-image: url('data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAB4AAAAFAQMAAABo7865AAAABlBMVEVHcEzMzMzyAv2sAAAAAXRSTlMAQObYZgAAABBJREFUeF5jOAMEEAIEEFwAn3kMwcB6I2AAAAAASUVORK5CYII=');
}
.gutter.gutter-vertical {
    cursor: row-resize;
    background-image: url('data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAUAAAAeCAYAAADkftS9AAAAIklEQVQoU2M4c+bMfxAGAgYYmwGrIIiDjrELjpo5aiZeMwF+yNnOs5KSvgAAAABJRU5ErkJggg==');
}
.split.split-horizontal, .gutter.gutter-horizontal {
    height: 100%;
    float: left;
}

