<!DOCTYPE html>
<html class="no-js" lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Media Merger</title>

    <link rel="stylesheet" href="styles/index.css"/>
</head>
<body>

<partial src="_toolbar.html"></partial>
<partial src="_panel-left.html"></partial>
<partial src="_panel-center.html"></partial>
<partial src="_panel-right.html"></partial>

<script type="text/javascript">if (typeof module === 'object') {window.module = module; module = undefined;}</script>
<script src="../../node_modules/jquery/dist/jquery.min.js"></script>
<script src="../../node_modules/split.js/split.min.js"></script>
<script>if (window.module) module = window.module;</script>

<script type="text/javascript">
    $(document).ready(() => {
        // Setup document split
        Split(['#panel-left', '#panel-center', '#panel-right'], {
            sizes: [25, 50, 25],
            direction: 'horizontal',
            gutterSize: 5,
            elementStyle: (dimension, size, gutterSize) => {
                return {'flex-basis': `calc(${size}% - ${gutterSize}px`};
            },
            gutterStyle: (dimension, gutterSize) => {
                return {'flex-basis': `${gutterSize}px`}
            }
        });
        Split(['#panel-center-top', '#panel-center-bottom'], {
            sizes: [50, 50],
            direction: 'vertical',
            gutterSize: 5
        });

        // Initialize the knockout app
        let RootViewModel = require("../viewModels/rootViewModel");
        ko.applyBindings(RootViewModel.createDefault());
    });
</script>

</body>
</html>