<div id="panel-left" class="split split-horizontal sidebar file-tree" data-bind="with: fileBrowserViewModel">
    <header>
        <h1>File List</h1>
        <div class="actions">
            <div class="add-folder" data-bind="click: handleClickAddFolder"></div>
        </div>
    </header>
    <!-- ko foreach: fileTrees -->
    <div class="section-header">
        <div class="actions">
            <div class="chevron" data-bind="css: {expanded: isExpanded, collapsed: !isExpanded()}, click: handleChevronClick"></div>
        </div>
        <h2 data-bind="text: displayName"></h2>
        <div class="actions">
            <div class="close-folder" data-bind="click: $parent.handleClickCloseFolder"></div>
        </div>
    </div>
    <div class="section" data-bind="template: {name: 'file-tree-section', data: $data}, css: {expanded: isExpanded, collapsed: !isExpanded()}"></div>
    <!-- /ko -->
</div>
<partial src="_file-tree.html"></partial>