<div id="panel-left" class="split split-horizontal sidebar" data-bind="with: fileBrowserViewModel">
    <header>
        <h1>File List</h1>
        <div class="actions">
            <div class="action-item add-folder" data-bind="click: handleAddFolder"></div>
        </div>
    </header>
    <!-- ko foreach: fileTrees -->
    <div class="section-header">
        <div class="chevron" data-bind="css: {expanded: isExpanded, collapsed: !isExpanded()}, click: handleChevronClick"></div>
        <h2 data-bind="text: displayName"></h2>
    </div>
    <div class="indented-section" data-bind=""></div>
    <!-- /ko -->
</div>
<partial src="_file-tree.html"></partial>